body {
    padding: 2em;
}

.site {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
}

.site-header,
.site-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
