.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.main-header-info {
    flex: 0 0 40%;
}

/* .main-header-aside {
    flex: 0 0 100%;
} */

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.sign-up-bar {
    background-color: darkorchid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.sign-up-bar h1 {
    color: white;
    padding-top: 1em;
    width: 100%;
    text-align: center;
}

.main-section-listed-items h1 {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.sign-up-bar input {
    width: 20em;
    height: 2.2em;
    border-radius: 0.2em;
    margin-bottom: 2em;
}

.sign-up-bar button {
    margin-bottom: 2em;
}

.main-header-aside i {
    font-size: 10em;
}

.main-header-info p {
    margin: 0.5em 0;
}

.main-section-listed-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listed-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em 8em;
}