@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font-family: Helvetica, sans-serif;
}

fieldset {
    background-color: #f7f4f4;
    padding: 2em;
    margin-top: 1em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
}

legend {
    background-color: #f7f4f4;
    border: 1px solid black;
    padding: 1em;
    width: 35%;
    position: absolute;
    top: 1.5em;
    left: 2em;
    border-radius: 0.3em;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}

input {
    width: 100%;
    height: 3em;
    border-radius: 0.3em;
    border-color: lightgray;
}

i {
    position: relative;
    top: -1.8em;
    left: 0.5em;
}

button {
    background-color: black;
    color: white;
    padding: 0.5em 1.5em;
    font-weight: bold;
    border-radius: 0.3em;
}

@media (min-width: 800px) {
    fieldset {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    label, input {
        margin-top: 2em;
    }

    input {
        flex-grow: 1;
        max-width: calc(0.7 * 100vw);
        margin-left: 0.5em;
        margin-top: 1.8em;
    }

    button {
        margin-top: 1.5em;
    }

    i {
        position: absolute;
    }

    i:first-of-type {
        top: 7.4em;
        left: 10.5em;
    }

    i:last-of-type {
        top: 11.8em;
        left: 10.5em;
    }

    /* label {
        display: inline-block;
    }

    i:nth-of-type(1) {
        top: -2.7em;
    }

    label:nth-of-type(2) {
        position: relative;
        left: -1.1em;
    } */
}
