section {
    position: absolute;
    left: 180px;
    top: 250px;
}

h3 {
    font-size: 16px;
    margin: 0;
}

div {
    position: relative;
    bottom: 50px;
    left: 8px;
}

span {
    color: gray;
    font-size: 14px;
    padding-left: 3px;
}