* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

header {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    min-width: 100vw;
}

footer {
    min-width: 100vw;
    padding: 0.5em;
}

body > * {
    background-color: lightskyblue;
    border-radius: 0.2em;
}

.nav-body {
    width: 25%;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    .nav-body {
        width: auto;
    }
}

.nav-body ul {
    padding: 0.5em 1em;
}

.nav-body li {
    list-style: none;
    line-height: 2;
}

.nav-body li a {
    text-decoration: none;
    color: purple;
}

.tasks {
    width: auto;
    flex-grow: 1;
}

.tasks h1 {
    padding: 0.5em 0.2em;
}

.tasks ul {
    padding: 2em;
    padding-top: 0;
}

.tasks li {
    list-style-position: inside;
}

