body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 500px;
    box-shadow: 0.3em 0.3em 1em rgba(59, 59, 59, 0.6);
    border-radius: 0.5em;
    margin: 0 auto;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

div {
    width: 500px;
    display: block;
}

div.text {
    padding: 0 30px 30px 30px;
    width: 400px;
}

button {
    background-color: rgb(0, 153, 0);
    position: relative;
    left: 350px;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    font: 1em 1.2 Georgia, serif;
}

/*img {
    position: absolute;
}
