@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px/2 Ubuntu; /*merim razmera*/
}

.container {
    max-width: 1570px; 
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1.27em 2em;
    align-items: flex-end;
}

.site-title {
    display: flex;
    gap: 2em;
    align-items: flex-end;
}

.site-title p {
    color: #808080;
}

.site-title a {
    font-size: 2.67em;
    font-weight: bold;
    border-right: 3px solid #DBDBDB;
    padding-right: 0.5em;
    line-height: 1;
}

.site-header nav ul {
    display: flex;
    list-style: none outside;
    gap: 0.1em;
}

.site-header nav li {
    padding: 1em;
    background-color: #ECECEC;
}

.site-header nav li a {
    color: #696969;
}

.site-header nav ul li:first-child {
    background-color: #56DBB1;
}

.site-header nav ul li:first-child a {
    color: black;
}

.site-section.info {
    background-color: #56DBB1;
}

.site-section.info .container p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
}

.site-section.info .container {
    padding: 5em 0;
}

.site-section.items {
    background-color: #353434;
    padding: 8.3em 0;
}

.site-section.items .container {
    display: flex;
    gap: 2.5em;
}

.site-section.items .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-section.items .container .card p {
    text-align: center;
    color: #5B5956;
    padding: 1em 0;
}

.site-section.items .container .card .media {
    background-color: #56DBB1;
    padding: 1.67em;
}

.site-section.items .container .card .media i {
    font-size: 3.3em;
    color: white;
}
.site-section.items .container .card p:first-of-type {
    font-weight: bold;
    color: white;
}

.site-section.items .container .card .media + p:nth-of-type(2) {
    border-top: 2px solid white;
}

.site-section.second-info .container {
    text-align: center;
    padding: 3em;
}

.site-section.second-info .container h2 {
    color: #5F5F5F;
    font-size: 2.22em;
    line-height: 1;
}

.site-section.second-info .container p {
    color: #C3BCB8;
    font-size: 1em;
}

.site-section.second-info .container .button {
    margin-top: 2em;
}

.site-section.second-info .container .button a {
    background-color: #974D1B;
    padding: 1em 2em;
    color: white;
}

.site-section.items.second-items .container .card p:first-of-type {
    font-size: 1.5em;
}

.site-footer {
    background-color: #1B9772;
    text-align: center;
    padding: 3em;
    color: #4CD6AE;
    letter-spacing: 0.1em;
}

.site-footer span {
    color: white;
}
